<ion-content class="ion-padding">
  
  <topo-login title="Cadastre-se"></topo-login>
  
  <form [formGroup]="loginForm" (submit)="createUser()">
  
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocu="true"></ion-input>  
    </ion-item> 
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="SobreNome" autofocu="true"></ion-input>  
    </ion-item>
    <ion-item>
    <ion-icon name="mail" color="if" slot="start"></ion-icon>
    <ion-input formControlName="email" type="email" placeholder="E-mail" autofocu="true"></ion-input>  
    </ion-item>

  <ion-item>
    <ion-icon name="key" color="if" slot="start"></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="Senha" autofocu="true"></ion-input>  
  </ion-item> 
  
  <ion-button [disabled]="loginForm.invalid"  type="submit" expand="block" color="if"  fill="clear">Registrar</ion-button>
  </form><br><br>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="success">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>