#logo-div{
    height: 60%;
    display: flex;  
    align-items: center;
    justify-content: center;
    

    .ifLogo{
        height: 40%;
        width: 40%;
        justify-content: center;
        margin-left: 30%;
      
    }
}

h1{
    text-align: center;
}

p{
    text-align: center;
}