
@import "bootstrap";

img{
    margin-top: 2pt;
    margin-bottom: auto;
    width: 100%;
    height: 25%;
}

h3{
    padding: auto;
    margin-top: 15pt;
    color: yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

form{
    margin-top: 15pt;
}

.radioStatus{
    margin-bottom: 30pt;
    margin-top: 25pt;
}

.selectConta{
    margin-bottom: 40pt;
    color: yellowgreen;
}

