ion-card{
    margin-top: 1.3rem;
    padding: auto;
    height: 160px;
  }

ion-text{

    h5{
        text-indent: 3rem;
        text-align: center;
        font-weight: bolder;
    }
}
  
.estiloCard{
    font-size: 12pt;
    font-weight: bolder;
    text-align: center;
  }

  ion-icon{
    padding: 9px;
    margin: 1.5px 1.5px 1.5px 1.5px;
  }

  ion-badge{
      padding: auto;
      margin-left: 2rem;
  }